{%extends 'user_page/base.html'%}
<!-- {%load static%} -->
{%block main_block%}

<!-- {% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ User.username }} | {{ post.created }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        
        
        <form action= "/like/{{post.slug}}" method="post">
          {% csrf_token %}
          {% if is_liked %}
          <button type="submit" name="post_id" value="{{post.id }}" class="btn btn-primary">Dislike</button>
          {% else %}
          <button type="submit" name="post_id" value="{{post.id }}" class="btn btn-primary">Like</button>
          {% endif %}
        </form>
      </div>
    </div> 
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
     comments -->
        <!-- {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comments</h2>

        <p>
          {% endwith %} {% for comment in comments %}
        </p>

        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ User.username }}
            <span class=" text-muted font-weight-normal">
              {{ comment.createTime}}
            </span>
          </p>
          {{ comment.content| linebreaks }}
        </div>

        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div> --> 

{% for st in all %}
{{ st.content }}
{%endfor%}
<center><h1> this is marina</h1></center>
{%endblock%}
{%block content_block%}
{%include 'user_page/header.html'%}

{%endblock%} 