{%extends 'admin_page/base.html'%}
{%load static%}
{%block main_block%}
<div class="col-md-8 mt-3 center">
<div class="col-md-8 mt-3 center">
                {% for post in posts %}
                <div class="card" >
                  <div class="card-body">
                    <div class="card-top row">
                      <div class="column">
                    <img class ="card-img-top "src="{{post.image.url}}" style="width: 120px;height: 120px;padding-left: 15px;" />
                  </div>
                  <div class="column" style="padding-left: 20px;">
                    <p class="card-text text-muted h6">{{ User.username}} | {{ post.created}} </p>
                    <h2 class="card-title" style="font-family: serif;"> Title : {{ post.title }}</h2>
                    <p class="card-text" style="border-style: solid;padding-left: 10px;">{{post.content|slice:":200" }}</p>
                  </div>
                </div>
                <br>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                 
                </div>
                {% endfor %}
            </div>
</div>
{%endblock%}
{%block content_block%}
<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
        <img alt="Brand" src="{%static 'assets/img/brand/blue.png'%}" style="size: 50%;">
 </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{%endblock%}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
  </div>
</nav>
{%block sidebar%}
{%endblock%}