{% extends 'register/login.html' %}
{% load crispy_forms_tags %}

{% block login_form %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
{% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-4">Sign in</button>
        </div>
    </form>
        <div class="pt-3">
        <small class="text-muted">Don't have an account?<a class="ml-2" href="{% url 'register' %}">Sign up</a> </small>
    </div>
{% endblock %}