{%extends 'admin_page/base.html'%}
{%load static%}
{%block main_block%}
<div class="card-body">
<table border=1 align="center" class="table"  style="width: 50%;margin-right: 100px;">
	<thead class="thead-dark">
	<th>ID</th>
	<th>UserName</th>
	<th>Email</th>
	<th> isBlocked</th>
	<th>isSuperUser</th>
	<th>Date_joined</th>
	<th colspan=2>Actions</th>
</thead>
	{% for st in all %}
	{%if st.is_superuser == True %}
	<tr style="color: red;">
		<td>{{st.id}}</td>
		<td>{{st.username}}</td>
		<td>{{st.email}}</td>
		<td><a href="/accounts/block/{{st.id}}">Block/UnBlock</a></td>
		<td>Admin</td>
		<td>{{st.date_joined}}</td>
		<td><a href="editst/{{st.id}}"><i class="fas fa-pen"></i></a></td>
		<td><a href="delst/{{st.id}}"><i class="fas fa-trash"></i></a></td>
	</tr>
	{%else%}
	<tr>
		<td>{{st.id}}</td>
		<td>{{st.username}}</td>
		<td>{{st.email}}</td>
        <td><a href="/accounts/block/{{st.id}}">Block/UnBlock</a></td>
		<td>Normal User</td>
		<td>{{st.date_joined}}</td>
		<td><a href="editst/{{st.id}}"><i class="fas fa-pen"></i></a></td>
		<td><a href="delst/{{st.id}}"><i class="fas fa-trash"></i></a></td>
	</tr>
	{%endif%}
	{%endfor%}
</table> 
</div>
{%endblock%}
{%block content_block%}
{%include 'admin_page/header.html'%}
{%endblock%}